<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>익명게시판</title>
</head>
<body>
  <div class="wrapper">
    <form action="/index" method="post">
      <input type="text" name="header">
      <input type="text" name="content">
    </form>
    <button>작성 완료</button>
  </div>
</body>
</html>