doctype html
html
  head
    meta(charset='utf-8')
    title 익명게시판
    link(type='text/css' rel='stylesheet' href='/static/index.css')
  body
    h1 Node.js
    -for(var i=0; i<5; i++)
      li coding
  div= time